.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid black;
}

.green {
    background-color: green;
    height: 100vh;
    width: 33vw;
}

.white {
    background-color: white;
    height: 100vh;
    width: 33vw;
}

.red {
    background-color: red;
    height: 100vh;
    width: 33vw;
}